{%load staticfiles%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
                <title>Design home</title>
        <link rel="icon" type="image/x-icon" href="{%static "img/basic/logo.ico"%}"/>
        <!-- Bootstrap Core CSS -->
        <link href="{%static "css/bootstrap.min.css"%}" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{%static "css/grayscale.css"%}" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="{%static "font-awesome/css/font-awesome.min.css"%}" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" style="background-color:#121212;">
<!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div style="margin-right:10px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"><i class="fa fa-bars"></i></button>
                <a class="navbar-brand page-scroll text-justify" href="#page-top"><img class="img-responsive" src="{%static "img/basic/MAIN.png"%}"></a></a>
            </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li style="padding: 20px;">
                <button class="btn btn-default "><a class="page-scroll" href="/">Home</a></button>  
                </li>
                <li style="padding: 20px;">
                <button class="btn btn-default "><a class="page-scroll" href="/#about">About Us</a></button>
                </li>
                <li style="padding: 20px;">
                <button class="btn btn-default" data-toggle="dropdown">Services<span class="caret"></span></button>
                <ul class="dropdown-menu" style="background-color:#000; color:#ff0">
                  <li><a  style="color:#01DF74" href="r.html">residential interiors</a></li>
                  <li  class="divider"></li>
                  <li ><a style="color:#01DF74" href="corp.html">corporate interiors</a></li>
                  <li  class="divider"></li>
                  <li ><a style="color:#01DF74" href="b.html">building works</a></li>
                  <li  class="divider"></li>
                  <li ><a style="color:#01DF74" href="const.html">Construction management</a></li>
                  <li  class="divider"></li>
                  <li ><a style="color:#01DF74" href="f.html">pre fabrication</a></li>
                  <li  class="divider"></li>
                  <li ><a style="color:#01DF74" href="m.html">modular furniture</a></li>
                  <li  class="divider"></li>
                </ul>
                </li>
                <li style="padding: 20px;">
                <button class="btn btn-default "><a class="page-scroll" href="/#Clients">Clients</a></button>
                </li>
                <li style="padding: 20px;">
                <button class="btn btn-default "><a class="page-scroll" href="/#contact">Contact Us</a></button>
                </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

            <section id="modular" class="container text-left">
                <div style="margin-top:160px">
                    <div class="row">
                     <div class="col-lg-6 col-lg-offset-0">
                            <h1 style="color:#f19f0f"><a style="font-size:100px;">M</a>odular Furniture</h1>
                            <b style="margin-top:10px; font-size:14px; color:#aaefef; font-size:25px">“GROOMING DREAMS TO REALITY”</b><br/><br/>
                            <p style="font-size:16PX; color:#aaefef; font-size:20px">The Complete office is designed using prefabricated Modular furniture/partition system using standarad modules for cabins, workstations, work modules of standard companies as per the requirement of clients,in a time bond scehdules.
                            </p>
                        </div>

                                            <div class="col-lg-6" style="margin-top:20px;">
                            <button style="margin-left:50px;" id="abc1" type="button" data-toggle="modal" data-target="#mymodal7"><img class="img-responsive" src="{%static "img/modular/1.jpg"%}"></button>
                            <button id="abc2" type="button" data-toggle="modal" data-target="#mymodal8"><img class="img-responsive" src="{%static "img/modular/2.jpg"%}"></button>
                            <button id="abc3" type="button" data-toggle="modal" data-target="#mymoda9"><img class="img-responsive" src="{%static "img/modular/3.jpg"%}"></button><br/>
                            <button style="margin-left:50px;" id="abc4" type="button" data-toggle="modal" data-target="#mymodal10"><img class="img-responsive" src="{%static "img/modular/4.jpg"%}"></button>
                            <button id="abc5" type="button" data-toggle="modal" data-target="#mymodal11"><img class="img-responsive" src="{%static "img/modular/5.jpg"%}"></button>
                            <button id="abc6" type="button" data-toggle="modal" data-target="#mymodal12"><img class="img-responsive" src="{%static "img/modular/6.jpg"%}"></button><br/>
                            <button style="margin-left:50px;" id="abc7" type="button" data-toggle="modal" data-target="#mymodal13"><img class="img-responsive" src="{%static "img/modular/7.jpg"%}"></button>
                            <button id="abc8" type="button" data-toggle="modal" data-target="#mymodal14"><img class="img-responsive" src="{%static "img/modular/8.jpg"%}"></button>
                            <button id="abc9" type="button" data-toggle="modal" data-target="#mymodal15"><img class="img-responsive" src="{%static "img/modular/9.jpg"%}"></button><br/>                        
                        <div class="modal fade" id="mymodal7" role="dialog">
                           <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body" style="color:#f19f0f; background-color:#000 !important;">
                                    <p style="font-size:15px;"><img class="img-responsive" src="{%static "img/modular/1.jpg"%}"></p>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="mymodal8" role="dialog">
                           <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body" style="color:#f19f0f; background-color:#000 !important;">
                                    <p style="font-size:15px;"><img class="img-responsive" src="{%static "img/modular/2.jpg"%}"></p>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                                                <div class="modal fade" id="mymodal9" role="dialog">
                           <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body" style="color:#f19f0f; background-color:#000 !important;">
                                    <p style="font-size:15px;"><img class="img-responsive" src="{%static "img/modular/3.jpg"%}"></p>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                                                <div class="modal fade" id="mymodal10" role="dialog">
                           <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body" style="color:#f19f0f; background-color:#000 !important;">
                                    <p style="font-size:15px;"><img class="img-responsive" src="{%static "img/modular/4.jpg"%}"></p>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                                                <div class="modal fade" id="mymodal11" role="dialog">
                           <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body" style="color:#f19f0f; background-color:#000 !important;">
                                    <p style="font-size:15px;"><img class="img-responsive" src="{%static "img/modular/5.jpg"%}"></p>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                                                <div class="modal fade" id="mymodal12" role="dialog">
                           <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body" style="color:#f19f0f; background-color:#000 !important;">
                                    <p style="font-size:15px;"><img class="img-responsive" src="{%static "img/modular/6.jpg"%}"></p>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                                                <div class="modal fade" id="mymodal13" role="dialog">
                           <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body" style="color:#f19f0f; background-color:#000 !important;">
                                    <p style="font-size:15px;"><img class="img-responsive" src="{%static "img/modular/7.jpg"%}"></p>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                                                <div class="modal fade" id="mymodal14" role="dialog">
                           <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body" style="color:#f19f0f; background-color:#000 !important;">
                                    <p style="font-size:15px;"><img class="img-responsive" src="{%static "img/modular/8.jpg"%}"></p>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                                                <div class="modal fade" id="mymodal15" role="dialog">
                           <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body" style="color:#f19f0f; background-color:#000 !important;">
                                    <p style="font-size:15px;"><img class="img-responsive" src="{%static "img/modular/9.jpg"%}"></p>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>





     <!-- jQuery -->
            <script src="{%static "js/jquery.js"%}"></script>
        <!-- Bootstrap Core JavaScript -->
            <script src="{%static "js/bootstrap.min.js"%}"></script>
        <!-- Plugin JavaScript -->
            <script src="{%static "js/jquery.easing.min.js"%}"></script>
        <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false">
            </script>
        <!-- Custom Theme JavaScript -->
            <script src="{%static "js/grayscale.js"%}"></script>


    </body>
</html>